<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/assets/normalize.css">
</head>

<body>
<header>
  <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
  {% if site.navigation %}<nav>{% for path in site.navigation %}{% assign node = site.pages | where: "name", path | first %}<a href="{{ node.url | relative_url }}">{{ node.title }}</a>{% endfor %}</nav>{% endif %}
  {% if site.icons %}<nav>{% for link in site.icons %}<a class="icon" href="{{ link[1] }}"><svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ link[0] }}"></use></svg></a>{% endfor %}</nav>{% endif %}
</header>

<main>
  {{ content }}
</main>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124034151-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124034151-3');
</script>

<footer>
  © Colin Walker 2020 {% for link in site.icons %} | <a class="icon" href="{{ link[1] }}"><svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ link[0] }}"></use></svg></a>{% endfor %}
  | All opinions expressed on this blog are my own and not that of my employer 
</footer>
</body>
</html>
